<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url "updatesub" sub_id %}" method="post">
        {% csrf_token %}
        Full name <br>
        <input type="text" name="fullname" value="{{sub.fullname}}" ><br>
        Phone <br>
        <input type="text" name="phone" value="{{sub.phone}}" ><br>
        Category <br>
        <select name="category">
        {% for c in categories %}
        {% if c.name == sub.category %}
        <option value="{{c.name}}" selected >{{c.name}}</option>
        {% else %}
        <option value="{{c.name}}"  >{{c.name}}</option>
        {% endif %}
        {% endfor %}
        </select><br>
        <button type="submit" >Add</button>
    </form>
   
</body>
</html>